body {
  font-family: 'Lato', sans-serif;
  color: #213038;
  height: auto;
}
/* background image */
html {
  background: url('../img/alex-loup-aV9qf-Zy3E0-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 999;
}

/* navigation styles */

.topbar-responsive {
  background: transparent;
  padding: 1rem 1.5rem;
}

.topbar-responsive .topbar-responsive-logo {
  vertical-align: middle;
}

.topbar-responsive .menu {
  background: transparent;
}

.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #213038;
  transition: color 0.15s ease-in;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.topbar-responsive .menu a:hover {
  color: #f88e28;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}


.topbar-responsive .menu .topbar-responsive-button {
  color: #213038;
  border-color: #213038;
  text-transform: uppercase;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #f88e28;
  border-color: #f88e28;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu .topbar-responsive-button {
    width: 100%;
    margin: 0.875rem 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive {
    padding: 0.75rem;
  }
  .topbar-responsive .top-bar-title {
    position: relative;
    width: 100%;
  }
  .topbar-responsive .top-bar-title span {
    position: absolute;
    right: 0;
    border: 1px solid #f88e28;
    border-radius: 5px;
    padding: 0.25rem 0.45rem;
    top: 50%;
    background-color: #f88e28;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topbar-responsive .top-bar-title span .menu-icon {
    margin-bottom: 4px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
            animation: fadeIn 1s ease-in;
  }
}




/* footer styles */

.sticky-footer-css .footer {
  background-color: #2c3840;
  opacity: 0.8;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-transform: uppercase;
  padding: 10px;
}

.sticky-footer-css p {
  margin-bottom: 4px;
  font-size: 12px;
}

.sticky-footer-css .footer .menu a {
  color: #fff;
  padding: 0 5px 0 5px;
}

.sticky-footer-css .footer .menu a:hover {
  color: #f88e28;
}

/* 
div {
  display: block;
}

footer {
  display: block;
}

footer#footer {
  background: #f5f5f5;
  height: 50px;
  padding: 40px 5% 0 5%;
  color: #213038;
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  vertical-align: bottom;
}

footer .row {
  clear: both;
  max-width: 1040px;
  margin: 0 auto;
}
.clearfix:before, section:before, .row:before {
  display: table;
  cntent: "";
}

[class^="col-"]:last-child {
  margin: 0;
}

.col-12 {
  width: 100%;
}

[class^="col-"] {
  float: left;
  list-style: none;
  position: relative;
}

.left {
  float: left !important;
}

footer .left a {
  text-decoration: none;
}

footer a {
  color: #213038;
  transition: color .3s;
  cursor: pointer;
}

footer nav {
  display: block;
  margin: auto;
  width: 280px;
  float: left;
  margin-left: 15%;
}

footer nav ul {
  list-style: none;
}

footer nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: bottom;
  background: transparent;
}

footer nav ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

footer nav li {
  float: left;
  display: list-item;
  text-align: -webkit-match-parent;
}

footer nav li a {
  float: left;
  margin-right: 20px;
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
}

footer a {
  color: #213038;
  transition: color .3s;
}
 */
