body {
  font-family: 'Lato', sans-serif;
  color: #213038;
}

.ecommerce-header .nav-links {
  margin-left: 15px;
}

.ecommerce-header a {
  color: #8a8a8a;
  transition: color 0.5s ease;
  display: block;
}

.ecommerce-header a:hover {
  color: #0b0b0b;
  transition: color 0.5s ease;
}

@media screen and (max-width: 74.9375em) {
  .ecommerce-header input {
    width: 150px;
  }
}

.ecommerce-header.top-bar {
  padding-top: 0;
  padding-bottom: 0;
}

.ecommerce-header .menu > .main-nav-link > a {
  padding: 1.5em 0.85em 1.9em 0.85em;
}

.ecommerce-header-top {
  width: 100%;
  background-color: #fff;
  height: 40px;
  padding: 8px 20px 10px 20px;
}

.ecommerce-header-top .fab {
  color: #213038;
  font-size: 1.2rem;
}

.ecommerce-header-top-message {
  color: #213038;
  float: left;
}

.ecommerce-header-top-message ul li {
  display: inline;
  padding-left: 20px;
}

.ecommerce-header-top-message .fab:hover {
  color: #266f4f;
  transition: color 0.5s ease;
}

.ecommerce-header-top-links {
  color:#213038;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
}

.ecommerce-header-top-links ul li {
  display: inline;
  padding-left: 20px;
  text-transform: uppercase;
}

.ecommerce-header-top-links a {
  color:#213038;
  transition: color 0.5s ease;
}

.ecommerce-header-top-links a:hover {
  color: #266f4f;
  transition: color 0.5s ease;
}

.ecommerce-header-off-canvas .menu {
  padding: 1rem 0;
}

.ecommerce-header-off-canvas .menu a {
  color: #8a8a8a;
}

.ecommerce-header-mobile {
  background-color: #575757;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625rem 1.25rem;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ecommerce-header-mobile-left,
.ecommerce-header-mobile-right,
.ecommerce-header-mobile-center {
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.ecommerce-header-mobile-left {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ecommerce-header-mobile-center {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ecommerce-header-mobile-right {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ecommerce-header-mobile-right .fab {
  color: #fefefe;
  font-size: 1.5rem;
}
